### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [118]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [119]:
#display/set to variable
players = len(purchase_data['SN'].unique())

#set in DF
players_df = pd.DataFrame({"Total # of Players": [len(purchase_data.SN.unique())]})
players_df

   Total # of Players
0                 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [120]:
#Unique items
unique_items = len(purchase_data['Item ID'].unique())

#average price
average_price= purchase_data['Price'].mean()

#number of purchases
number_of_purchases= len(purchase_data['Purchase ID'])

#total revenue
total_revenue= sum(purchase_data['Price'])

#create dataframe and format
summary_df = pd.DataFrame({
    'Unique items': unique_items,
    'Average Price': '${:.2f}'.format(avg_price),
    'Total Purchases': number_of_purchases,
    'Total Revenue': '${:.2f}'.format(total_revenue)},index=[0])

summary_df

   Unique items Average Price  Total Purchases Total Revenue
0           183         $3.05              780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [121]:
#sort through data to avoid duplicates
player_sn = purchase_data.drop_duplicates("SN")

#count gender
gender = player_sn["Gender"].value_counts()

#percentage of male/female players
gender_percentage = (player_sn["Gender"].value_counts()/players)*100

#compile into data frame
gender_summary_df = pd.DataFrame({"Total Count" : gender,
                                 "Percentage of Players" : gender_percentage.map('{:.3f}%'.format)})

gender_summary_df

                       Total Count Percentage of Players
Male                           484               84.028%
Female                          81               14.062%
Other / Non-Disclosed           11                1.910%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [122]:
#sort purchases by gender
gender_purchase = purchase_data.groupby("Gender")
gender_purchase_count = gender_purchase["Gender"].count()
gender_purchase_count

#average purchase price
gender_purchase_average = gender_purchase["Price"].mean()
gender_purchase_average

#total revenue
total_gender_purchase = gender_purchase["Price"].sum()
total_gender_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [123]:
#create bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 400]

age_brackets = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#categorize players to age bins
purchase_data["age_group"] =  pd.cut(purchase_data["Age"], bins, labels=age_brackets)

#compile data into dataframe
demograph_df = pd.DataFrame({
    "Total Count": players_age,
    "Percentage of Players": (players_age / purchase_data.SN.nunique() * 100).map("{:.2f}".format)
})
demograph_df

           Total Count Percentage of Players
age_group
<10                 17                  2.95
10-14               22                  3.82
15-19              107                 18.58
20-24              258                 44.79
25-29               77                 13.37
30-34               52                  9.03
35-39               31                  5.38
40+                 12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [124]:
#isolate columns
purchase_count = purchase_data[["age_group", "Purchase ID"]]
purchase_values = purchase_data[["age_group", "Price"]]

#totals purchase by age 
total_purchase = purchase_count.groupby("age_group").count() 

#Purchase value by age
total_purchase_values = purchase_values.groupby("age_group").sum()

#display dataframe
purchasing_age_df = pd.DataFrame({
    "Purchase Count": total_purchase["Purchase ID"],
    "Average Purchase Price": (total_purchase_values["Price"] / total_purchase["Purchase ID"]).map("${:.2f}".format),
    "Total Purchase Value": total_purchase_values["Price"].map("${:.2f}".format)
})
purchasing_age_df

           Purchase Count Average Purchase Price Total Purchase Value
age_group
<10                    23                  $3.35               $77.13
10-14                  28                  $2.96               $82.78
15-19                 136                  $3.04              $412.89
20-24                 365                  $3.05             $1114.06
25-29                 101                  $2.90              $293.00
30-34                  73                  $2.93              $214.00
35-39                  41                  $3.60              $147.67
40+                    13                  $2.94               $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [125]:
#Count purchases by unique SN
UniqueSN_purchase = purchase_data["SN"].value_counts()

#Average purchase by unique sn
UniqueSN_average_purchase = purchase_data["Price"].groupby(purchase_data["SN"]).mean()

#Calculate the total revenue 
UniqueSN_total_purchase = purchase_data["Price"].groupby(purchase_data["SN"]).sum()

#display dataframe
top_spenders = pd.DataFrame({
    "Purchase Count":UniqueSN_purchase,
    "Average Purchase Price":UniqueSN_average_purchase,
    "Total Purchase Value":UniqueSN_total_purchase
})

#Sort and format
top_spenders_df = big_spenders.sort_values("Total Purchase Value", ascending= False)
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:.2f}".format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:.2f}".format)

top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [126]:
#isolate columns
items = purchase_data[["Item ID", "Item Name", "Price"]]


#count number of transactions
items_purchase = items.groupby(["Item ID","Item Name"])["Price"].count()

#Price of items
item_price= items.groupby(["Item ID","Item Name"])["Price"].mean()

#Calculate total revenue
popular_items_total_revenue = items.groupby(["Item ID","Item Name"])["Price"].sum()

#display dataframe
popular_items = pd.DataFrame({
    "Purchase Count":items_purchase,
    "Item Price":item_price,
    "Total Purchase Value":popular_items_total_revenue
})


popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [127]:
#sort by decending
most_profitable_items = popular_items.sort_values("Total Purchase Value", ascending= False)
most_profitable_items["Item Price"]= most_profitable_items["Item Price"].map("${:.2f}".format)
most_profitable_items["Total Purchase Value"]= most_profitable_items["Total Purchase Value"].map("${:.2f}".format)

most_profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

In [ ]:
#obesrvations:

#1 the age group od 20-24 make up a majority (46%) of the purchases in app.
#2 the age group 35-39 spend the most amount on average ($3.60) per purchase in app.
#3 the most profitable items are not always the most expensive items in app.